@using FileHosting.Domain.Enums
@using FileHosting.MVC.Helpers
@model FileHosting.MVC.ViewModels.AdminIndexViewModel
@{
    ViewBag.Title = "Administration";
}
<h1 class="text-center">@ViewBag.Title</h1>
<br />
<div class="well well-custom">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Limits settings
        </div>
        <div class="panel-body">
            @if (Model.Message != null)
            {
                var alertType = Model.Message.MessageType == ViewModelsMessageType.A
                    ? "alert-success"
                    : Model.Message.MessageType == ViewModelsMessageType.B
                        ? "alert-danger"
                        : "alert-warning";
                <div class="alert @alertType alert-custom text-center" role="alert">
                    <strong>@Model.Message.MessageText</strong>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
            }
            <form class="form-inline" action="@Url.Action("SetLimits")" method="POST" role="form">                
                @{
                    var totalDownloadAmountLimit = Model.TotalDownloadAmountLimit;
                    var totalDownloadSpeedLimit = Model.TotalDownloadSpeedLimit;
                }
                @Html.AntiForgeryToken()
                <input type="hidden" name="page" value="@Model.PageInfo.PageNumber" />
                <div class="form-group">
                    <div class="width-300">
                        <div class="checkbox-inline">
                            <label>
                                <input class="activator" type="checkbox" @if (totalDownloadAmountLimit != 0) { <text> checked="checked" </text>  }><strong>Set total download amount limit?</strong>
                            </label>
                        </div>
                        <div>
                            <input class="form-control width-200 display-inline" type="text" name="totalDownloadAmountLimit" @if (totalDownloadAmountLimit != 0) { <text> value="@totalDownloadAmountLimit" </text>  } placeholder="Download amount limit" @if (totalDownloadAmountLimit == 0) { <text> disabled="disabled" </text>  }>
                            <strong class="display-inline">Mb</strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="width-300">
                        <div class="checkbox-inline">
                            <label>
                                <input class="activator" type="checkbox" @if (totalDownloadSpeedLimit != 0) { <text> checked="checked" </text>  }><strong>Set total download speed limit?</strong>
                            </label>
                        </div>
                        <div>
                            <input class="form-control width-200 display-inline" type="text" name="totalDownloadSpeedLimit" @if (totalDownloadSpeedLimit != 0) { <text> value="@totalDownloadSpeedLimit" </text>  } placeholder="Download speed limit" @if (totalDownloadSpeedLimit == 0) { <text> disabled="disabled" </text>  }>
                            <strong class="display-inline">Kb/s</strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success width-200" type="submit">
                        <span class="glyphicon glyphicon-ok"></span>&emsp;Set limits
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary no-margin">
        <div class="panel-heading">
            Users
        </div>
        <div class="panel-body">
            @if (Model.Users != null && Model.Users.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Creation date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.CreationDate</td>
                                <td class="text-right">
                                    <a class="btn btn-warning" href="@Url.Action("EditUser", new { userId = user.Id, page = Model.PageInfo.PageNumber })">
                                        <span class="glyphicon glyphicon-pencil"></span>&ensp;Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger no-margin text-center" role="alert">
                    <strong>There are no any registered users!</strong>
                </div>
            }
        </div>
    </div>
    @if (Model.Users != null && Model.Users.Any())
    {
        <br />
        <div>
            Page @(Model.PageInfo.TotalPages < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber) of @Model.PageInfo.TotalPages
        </div>
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    }
</div>

<script type="text/javascript">
    (function ($) {
        var $form = $('form');

        $form.on('change', '.activator', function () {
            var $checkbox = $(this);
            var $input = $checkbox.parent().parent().parent().find('.form-control');
            var isChecked = $checkbox.prop('checked');
            if (isChecked) {
                $input.removeAttr('disabled');
                $input.focus();
            } else {
                $input.val('');
                $input.attr("disabled", "disabled");
            }
        });
    })(jQuery);
</script>