@model FileHosting.MVC.ViewModels.UserDetailsViewModel
@{
    ViewBag.Title = "User Details";
}
<h1 class="text-center">@ViewBag.Title</h1>
<br />
<div class="well well-custom">
    <a class="btn btn-primary form-control-element" href="@Url.Action("Index", new { page = Model.PageNumber })">
        <span class="glyphicon glyphicon-arrow-left"></span>&emsp;Back to files list
    </a>
    <br />
    <br />
    <div class="panel panel-primary no-margin">
        <div class="panel-body">
            <form class="form-horizontal" action="javascript:void(0)" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="userId">#:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="userId">@Model.UserModel.Id</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="userName">Name:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="userName">@Model.UserModel.Name</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="userEmail">E-mail address:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="userEmail">@Model.UserModel.Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="userCreationDate">Creation Date:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="userCreationDate">@Model.UserModel.CreationDate</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="userRoles">Roles:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="userRoles">
                            @if (Model.UserModel.Roles != null && Model.UserModel.Roles.Any())
                            {
                                foreach (var role in Model.UserModel.Roles)
                                {
                                    <text>@role.Name&emsp;</text>
                                }
                            }
                            else
                            {
                                <text>This user has no any roles.</text>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <a class="btn btn-warning form-control-element" href="javascript:void(0)" id="changePasswordButton">
                            <span class="glyphicon glyphicon-transfer"></span>&emsp;Change user password
                        </a>
                    </div>
                </div>
            </form>            
            <form class="form-horizontal" action="@Url.Action("ChangeUserPassword")" method="POST" id="changePasswordForm" role="form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="userId" value="@Model.UserModel.Id" />
                <input type="hidden" name="page" value="@Model.PageNumber" />
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        @*<input class="form-control" type="text" name="newUserPassword" placeholder="New user password" />*@
                        <input class="form-control" data-role="tagsinput" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-danger" type="submit">Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function ($) {
        var $changePasswordButton = $('#changePasswordButton');
        var $changePasswordForm = $('#changePasswordForm');

        $changePasswordForm.hide();

        $changePasswordButton.on('click', function () {
            $changePasswordForm.slideToggle();
        });
    })(jQuery);
</script>