@using FileHosting.MVC.Providers
@model FileHosting.MVC.ViewModels.LoginViewModel
@if (Request.IsAuthenticated)
{
    var user = ((MyMembershipProvider)Membership.Provider).GetUserByEmail(User.Identity.Name);
    <div class="navbar-right">
        <p class="navbar-text">
            <span class="glyphicon glyphicon-user"></span>&ensp;
            Hello, @if (user != null)
            {
                @user.Name
            }
            else
            {
                <text>Guest</text>
            }!
        </p>
        <form class="navbar-form form-custom display-inline-block" action="@Url.Action("LogOff", "Account")" method="POST" role="form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <button class="btn btn-danger btn-sm" type="submit">Log off</button>
            </div>
        </form>
    </div>
}
else
{
    <form class="navbar-form navbar-right" action="@Url.Action("Login", "Account")" method="POST" role="form">
        @Html.AntiForgeryToken()
        <div class="form-group ">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "E-mail adress" } })
        </div>
        <div class="form-group ">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Password" } })
        </div>
        <div class="form-group">
            <div class="checkbox">
                @Html.EditorFor(model => model.RememberMe)&nbsp;
                @Html.LabelFor(model => model.RememberMe)
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger btn-sm" type="submit">Log in</button>
            <a class="btn btn-primary btn-sm" href="@Url.Action("Register", "Account")">Register</a>
        </div>
    </form>
}