@using FileHosting.MVC.ViewModels
@using FileHosting.Services
@model FileHosting.MVC.ViewModels.FileDetailsViewModel
@{
    ViewBag.Title = "Change file";
}
<h1 class="text-center">@ViewBag.Title</h1>
<br />
<div class="well well-custom">
    <a class="btn btn-default form-control-element" href="@Url.Action("UserFiles", new { page = Model.PageNumber })">
        <span class="glyphicon glyphicon-arrow-left"></span>&emsp;Back to uploaded files list
    </a>
    <br />
    <br />
    <div class="panel panel-primary no-margin">
        <div class="panel-body">
            @if (Model.Message != null)
            {
                var alertType = Model.Message.MessageType == MessageType.Success ? "alert-success" : "alert-danger";
                <div class="alert @alertType alert-custom text-center" role="alert"><strong>@Model.Message.MessageText</strong></div>
            }
            <form class="form-horizontal" action="@Url.Action("ChangeFile")" method="POST" role="form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="type" value="@FileChangeType.Change" />
                <input type="hidden" name="fileId" value="@Model.FileModel.FileId" />
                <input type="hidden" name="page" value="@Model.PageNumber" />
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileTitle">Name:</label>
                    <div class="col-md-10">
                        <p class="form-control-static" id="fileTitle">@Model.FileModel.Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileSection">Section:</label>
                    <div class="col-md-10">
                        <p class="form-control-static" id="fileSection">@Model.FileModel.Section</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileTags">Tags:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="fileTags" name="fileTags" value="@Model.FileModel.Tags" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileDescription">Description:</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="fileDescription" name="fileDescription" rows="5">@Model.FileModel.Description</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileDateUpload">Upload date:</label>
                    <div class="col-md-10">
                        <p class="form-control-static" id="fileDateUpload">@Model.FileModel.UploadDate</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileSize">Size (KB):</label>
                    <div class="col-md-10">
                        <p class="form-control-static" id="fileSize">@Model.FileModel.Size</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success" type="submit" id="saveButton">
                            <span class="glyphicon glyphicon-ok"></span>&emsp;Save changes
                        </button>&emsp;
                        <a class="btn btn-default" id="cancel-button" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-remove"></span>&emsp;Cancel changes
                        </a>&emsp;
                        <a class="btn btn-danger" id="remove-button" href="javascript:void(0)">
                            <span class="glyphicon glyphicon-trash"></span>&emsp;Delete file
                        </a>
                    </div>
                </div>
            </form>
            <form id="removeForm" action="@Url.Action("ChangeFile")" method="POST">
                @Html.AntiForgeryToken()
                <input type="hidden" name="type" value="@FileChangeType.Delete" />
                <input type="hidden" name="fileId" value="@Model.FileModel.FileId" />
                <input type="hidden" name="page" value="@Model.PageNumber" />
            </form>            
        </div>
    </div>
</div>

<script type="text/javascript">
    (function ($) {
        var $tagsElement = $('#fileTags');
        var $descriptionElement = $('#fileDescription');        

        var tagsValue = $tagsElement.val();
        var descriptionValue = $descriptionElement.val();                

        $('#cancel-button').on('click', function () {
            $tagsElement.val(tagsValue);
            $descriptionElement.val(descriptionValue);
        });

        $('#remove-button').on('click', function () {
            $('#removeForm').submit();
        });        
    })(jQuery);
</script>