@using FileHosting.Domain.Enums
@model FileHosting.MVC.ViewModels.FileDetailsViewModel
@{
    ViewBag.Title = "File details";
}
<h1 class="text-center">@ViewBag.Title</h1>
<br />
<div class="well well-custom">
    <a class="btn btn-primary width-200" href="@Url.Action("Index", new { section = Model.SectionNumber, page = Model.PageNumber })">
        <span class="glyphicon glyphicon-arrow-left"></span>&emsp;Back to files list
    </a>
    <br />
    <br />
    <div class="panel panel-primary no-margin">
        <div class="panel-body">
            @if (Model.Message != null)
            {
                var alertType = Model.Message.MessageType == ViewModelsMessageType.A
                    ? "alert-success" :
                    Model.Message.MessageType == ViewModelsMessageType.B
                        ? "alert-danger"
                        : "alert-warning";
                <div class="alert @alertType alert-custom text-center" role="alert">
                    <strong>@Model.Message.MessageText</strong>
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
            }
            <form class="form-horizontal" action="@Url.Action("DownloadFile")" method="POST" role="form">
                @Html.AntiForgeryToken()                
                <input type="hidden" name="fileId" value="@Model.FileModel.Id" />
                <input type="hidden" name="section" value="@Model.SectionNumber" />
                <input type="hidden" name="page" value="@Model.PageNumber" />
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileId">#:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileId">@Model.FileModel.Id</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileName">Name:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileName">@Model.FileModel.Name</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileSection">Section:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileSection">@Model.FileModel.Section.Name</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileTags">Tags:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileTags">@Model.FileModel.Tags</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileDescription">Description:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileDescription">@Model.FileModel.Description</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileUploadUpload">Upload date:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileUploadUpload">@Model.FileModel.UploadDate</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileSize">Size (KB):</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileSize">@Model.FileModel.Size</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="fileOwner">Owner:</label>
                    <div class="col-md-10">
                        <div class="form-control-static" id="fileOwner">@Model.FileModel.Owner.Name</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-warning width-200">
                            <span class="glyphicon glyphicon-download"></span>&emsp;Download file
                        </button>
                    </div>
                </div>
            </form>
            <div id="commentsPanel"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/custom")